body {
    background: url("../img/protest.png") #000 no-repeat;
    background-size: 100%;
}

#map-button{
    width: 250px;
    padding-bottom: 15px;
}

#random-button{
    width: 250px;
    height: 133px;
    margin-left: 30px;
}

#options{
    margin-top: 100px;
}

#question-box{
    margin-top: 100px;
    opacity: 0.75;
}

#map-random{
    margin-top: 100px;
}

#logo{
    cursor: pointer;
    width: 60px;
}

.info-box{
    color: white;
    background-color: gray;
    opacity: 0.75;
    text-decoration: white;
}
